<% @title = "Genre | #{@genre.name}" %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="page-header">
      <h2 class="text-center"><%= @genre.name %></h2>
      <% if user_is_admin? %>
        <span><%= link_to 'Edit', edit_genre_path(@genre) %></span>
        <span><%= link_to 'Delete', @genre, method: :delete, data: { confirm: "Are you sure to delete this genre?" } unless @genre.profiles.any? || @genre.concerts.any? %></span>
      <% end %>
    </div>
    <div class="text-right" style="color: #7C8792; margin-bottom: 10px;">
      <small><i class="fa fa-music" aria-hidden="true"></i> No. concerts </small> |
      <small><i class="fa fa-bookmark" aria-hidden="true"></i> No. bookmarks </small>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Musicians</div>
      <% if @genre.profiles.any? %>
        <%= render 'welcome/musicians', { profiles: @genre.profiles } %>
      <% else %>
        <p class="margin-left-sm" style="padding: 5px 0;">No musicians for this tag</p>
      <% end %>
    </div> <!-- /.panel -->
    <div class="panel panel-default">
      <div class="panel-heading">Concerts</div>
      <% if @genre.concerts.any? %>
        <%= render 'welcome/concerts', { concerts: @genre.concerts } %>
      <% else %>
        <p class="margin-left-sm" style="padding: 5px 0;">No concerts for this tag</p>
      <% end %>
    </div> <!-- /.panel -->
  </div>
</div>
