<%= form_for [current_user, @profile] do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h4>
      <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="space-top">Profile Photo</h3>
  <div class="row">
    <div class="col-md-4">
      <h5>Current Photo</h5>
      <% if @profile.avatar? %>
        <%= image_tag(@profile.avatar.md.url) %>
        <p><%= link_to "Remove Current Photo", user_remove_avatar_path(current_user), method: :delete %></p>
      <% else %>
        <%= image_tag("/fallback/default_md.png") %>
      <% end %>
    </div>
    <div class="col-md-5">
      <h5>Upload New Photo</h5>
      <div class="form-group">
        <%= f.label :avatar, class: 'sr-only' %>
        <%= f.file_field :avatar, class: 'form-control', id: 'img-file' %>
        <%= f.hidden_field :avatar_cache %>
      </div>
    </div>
    <div class="col-md-3">
      <h5>Preview</h5>
      <div class="upload-preview">
        <img />
      </div>
    </div>
  </div>

  <h3 class="space-top">Social Media</h3>
  <div class="form-group">
    <%= f.label :facebook_url, class: 'sr-only' %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
      <%= f.url_field :facebook_url, class: 'form-control', placeholder: 'http://www.facebook.com/my_profile' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :twitter_url, class: 'sr-only' %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
      <%= f.url_field :twitter_url, class: 'form-control', placeholder: 'http://twitter.com/my_profile' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :youtube_url, class: 'sr-only' %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-youtube-play"></i></span>
      <%= f.url_field :youtube_url, class: 'form-control', placeholder: 'http://www.youtube.com/my_profile' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :soundcloud_url, class: 'sr-only' %>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-soundcloud"></i></span>
      <%= f.url_field :soundcloud_url, class: 'form-control', placeholder: 'http://www.soundcloud.com/my_profile' %>
    </div>
  </div>

  <h3 class="space-top">Bio</h3>
  <div class="form-group">
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: 'Enter your BIO' %>
  </div>

  <h3 class="space-top">Genre &amp; Labels</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :genre_id, class: 'sr-only' %>
        <%= select_tag 'profile[genre_id]', options_for_select(genre_list, @profile.genre_id), class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-9">
      <%= render partial: 'tags/form', locals: { f: f, tags: @profile.tags } %>
    </div>
  </div>

  <div class="pull-right">
    <%= button_tag class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-ok"></span> Save
    <% end %>
  </div>
<% end %>
