<div class="row" id="user-sidebar">
  <div class="col-md-4">
    <div class="list-group">
      <%= link_to 'Saved Music', '#', class: "list-group-item" %>
      <% if premium_or_admin?(@user) %>
        <%= link_to 'Upload My Music', user_songs_path(@user), class: "list-group-item" %>
      <% end %>
      <%= link_to 'My Musician Profile', user_profile_path(@profile.user, @profile), class: "list-group-item active" %>
    </div> <!-- /.list-group -->
  </div> <!-- /.col-md-5 -->

  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'user_basic', locals: { user: @profile.user } %>
    </div>

    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row space-top">
      <%= render partial: 'concerts/list', locals: { profile: @profile, concerts: @profile.user.concerts } %>
    </div>
  </div> <!-- /.col-md-8 -->
</div>
