<div class="row" id="user-sidebar">
  <div class="col-md-4">
    <div class="list-group">
      <%= link_to 'Saved Music', '#', class: "list-group-item" %>
      <%= link_to 'My Songs', '#', class: "list-group-item" %>
      <%= link_to 'My Musician Profile', edit_user_profile_path(current_user, @profile), class: "list-group-item active" %>
    </div> <!-- /.list-group -->
  </div> <!-- /.col-md-5 -->

  <div class="col-md-8">
    <div class="row">
      <h3>Basic Profile</h3>
      <table class="table">
        <tr>
          <th>Username</th>
          <td><%= current_user.username %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= current_user.email %></td>
        </tr>
      </table>
      <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary pull-right' %>
    </div>

    <div class="row">
      <%= render 'form' %>
    </div>

    <div class="row space-top">
      <%= render partial: 'concerts/list', locals: { profile: @profile, concerts: current_user.concerts } %>
    </div>
  </div> <!-- /.col-md-8 -->
</div>
