<div class="row" id="user-sidebar">
  <div class="col-md-3">
    <div class="list-group">
      <%= link_to 'Saved Music', '#', class: "list-group-item" %>
      <%= link_to 'My Songs', '#', class: "list-group-item" %>
      <%= link_to 'New Musician Profile', new_user_profile_path(@user), class: "list-group-item active" %>
    </div> <!-- /.list-group -->
  </div> <!-- /.col-md-5 -->

  <div class="col-md-8">
    <div class="row">
      <%= render partial: 'user_basic', locals: { user: @user } %>
    </div>

    <div class="row">
      <%= render 'form' %>
    </div>
  </div> <!-- /.col-md-8 -->
</div>
