<% @title = "#{@user.username} | Profile" %>
<div class="container">
  <div class="row" style="margin-bottom: 10px;">
    <div class="pull-left">
      <div id="favorite">
        <% if current_user && favorite = current_user.favorite_for(@profile) %>
          <%= render 'favorites/undo', { profile: @profile, favorite: favorite  } %>
        <% else %>
          <%= render 'favorites/like', { profile: @profile } %>
        <% end %>
      </div>
    </div>
    <div class="pull-right">
      <% if user_is_authorized?(@profile) %>
        <%= link_to edit_user_profile_path(@profile.user, @profile), class: 'btn-sm btn-info margin-left-sm' do %>
        <i class="fa fa-pencil"></i> Edit Public Profile
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row" style="border-top: solid 5px #607D8B;">
    <div class="col-md-8 col-md-offset-2 space-top">
      <div class="row">
        <div class="col-md-5">
          <small>
            <% if @profile.avatar? %>
              <%= image_tag(@profile.avatar.lg.url) %>
            <% else %>
              <%= image_tag("/fallback/default_lg.png") %>
            <% end %>
          </small>
        </div> <!-- /.col-md-6 -->
        <div class="col-md-7">
          <h2>
            <%= @profile.user.username %>
            <small class="social-btn"><%= render 'list' %></small>
          </h2>
          <p>
            <%= link_to @profile.genre.name, @profile.genre, class: 'btn-sm btn-primary' %>
            <%= render partial: 'tags/list', locals: { tags: @profile.tags } %>
          </p>

          <% if url = @profile.soundcloud_url %>
            <div class="soundcloud">
              <%= raw soundcloud_widget(url) %>
            </div>
          <% end %>
        </div> <!-- /.col-md-6 -->
      </div> <!-- /.row -->

      <div class="row space-top">
        <h3>About</h3>
        <pre class="pre-style"><%= @profile.body %></pre>
      </div>

      <div class="row space-top">
        <%= render partial: 'concerts/list', locals: { profile: @profile, concerts: @profile.user.concerts.upcoming_date.by_show_date.by_show_time } %>
      </div>

      <!-- premium user's recommend songs -->
      <% if @user.premium? || @user.admin? %>
        <div class="row space-top-sm">
          <h3 class="inlined">Recommended Music</h3>
          <% if premium_or_admin?(@user) %>
            <%= link_to new_user_song_path(@user), class: 'btn-sm btn-success margin-left-xs' do %>
              <i class="fa fa-plus"></i> Add
            <% end %>
          <% end %>

          <div class="col-md-12 space-top-sm">
            <%= render 'songs/list', { songs: @user.songs } %>
          </div>
        </div>
      <% end %>
    </div> <!-- /.col-md-8 -->
  </div> <!-- /.row -->
</div>
