<% @title = "#{@user.username} | Profile" %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-5">
          <small>
            <% if @profile.avatar? %>
              <%= image_tag(@profile.avatar.lg.url) %>
            <% else %>
              <%= image_tag("/fallback/default_lg.png") %>
            <% end %>
          </small>
        </div> <!-- /.col-md-6 -->
        <div class="col-md-7">
          <h2>
            <%= @profile.user.username %>
            <small class="social-btn"><%= render 'list' %></small>
          </h2>
          <p>
            <%= link_to @profile.genre.name, @profile.genre, class: 'btn-sm btn-primary' %>
            <%= render partial: 'tags/list', locals: { tags: @profile.tags } %>
          </p>

          <% if url = @profile.soundcloud_url %>
            <div class="soundcloud">
              <%= raw soundcloud_widget(url) %>
            </div>
          <% end %>
        </div> <!-- /.col-md-6 -->
      </div> <!-- /.row -->

      <div class="row space-top">
        <h3 class="inlined">About</h3>
        <% if user_is_authorized?(@profile) %>
          <%= link_to edit_user_profile_path(@profile.user, @profile), class: 'btn-sm btn-primary margin-left-sm' do %>
            <i class="fa fa-pencil"></i> Edit Public Profile
          <% end %>
        <% end %>
        <p><%= @profile.body %></p>
      </div>

      <div class="row space-top">
        <%= render partial: 'concerts/list', locals: { profile: @profile, concerts: @profile.user.concerts } %>
      </div>

      <!-- premium user's recommend songs -->
      <% if @user.premium? %>
        <div class="row space-top-sm">
          <h3 class="inlined">Recommended Music</h3>
          <% if premium_or_admin?(@user) %>
            <%= link_to new_user_song_path(@user), class: 'btn-sm btn-primary margin-left-xs' do %>
              <i class="fa fa-plus"></i> Add
            <% end %>
          <% end %>

          <div class="space-top-sm">
            <%= render 'songs/list', { songs: @user.songs } %>
          </div>
        </div>
      <% end %>
    </div> <!-- /.col-md-8 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->
