<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-6">
        <small>
          <%= image_tag(@profile.avatar.lg.url) if @profile.avatar? %>
        </small>
      </div>
      <div class="col-md-6">
        <h2>
          <%= @profile.user.username %>
          <small class="social-btn"><%= render 'list' %></small>
        </h2>
        <p>
          <%= link_to @profile.genre.name, @profile.genre, class: 'btn-sm btn-primary' %>
        </p>

        <div class="soundcloud">
          <%= raw soundcloud_widget %>
        </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <h3>About</h3>
      <p><%= @profile.body %></p>
      <% if current_user && current_user == @profile.user %>
        <div class="space-top pull-right">
          <%= link_to 'Edit Public Profile', edit_user_profile_path(@profile.user, @profile), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div> <!-- /.row -->
    <div class="space-top"></div>

    <div class="row">
      <h3>Upcoming Concerts</h3>
      <% if @profile.user.concerts.any? %>
        <%= render partial: 'concerts/list', locals: { profile: @profile, concerts: @profile.user.concerts } %>
      <% else %>
        <p>No upcoming concerts...</p>
      <% end %>

      <% if current_user && current_user == @profile.user %>
        <div class="space-top pull-right">
          <%= link_to 'Add new concert', new_user_concert_path(current_user), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div> <!-- /.row -->
  </div> <!-- /.col-md-8 -->
</div> <!-- /.row -->
