<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="page-header">
      <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
      <br>
    </div> <!-- /.page-header -->

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions pull-right">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>

    <div class="pull-left">
      <%= link_to "Back", :back, class: 'btn btn-default' %>
    </div>
  </div> <!-- /.col-md-4 -->
</div> <!-- /.row -->

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="line-divider">
      <h3>Cancel my account</h3>
      <p>Unhappy? Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <div class="pull-right">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure to cancel your account?" }, method: :delete, class: 'btn btn-danger pull-right' %>
      </div>
    </div>
  </div> <!-- /.col-md-4 -->
</div> <!-- /.row -->
