<div class="row space-top">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to fa_icon('pencil-square-o lg', 'aria-hidden' => true, text: 'Compose'), new_conversation_path, class: 'btn btn-success' %>
        <%= render 'mailbox/folders' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-right" style="border-bottom: 1px solid #596a7b; padding-bottom: 5px;">
          <% if conversation.is_trashed?(current_user) %>
            <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
          <% else %>
            <%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post, data: { confirm: "Are you sure to delete this message?" } %>
          <% end %>
        </div>
        <%= render partial: 'messages' %>
      </div>
      <div class="panel-footer">
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: 'form-control' %>
          </div>
          <%= f.submit "Reply", class: 'btn btn-success pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
