<section id="greeting">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Wecolme to MusicApp</h3>
        <p>Music app is a production quality app that allows users to search local concerts and discover new musicians. Musicians can post their local concerts and songs to public</p>

        <div class="well">
          <p class="lead">To see in action, you can use test user account to log in.</p>
          <%= link_to "Click to log in", auto_sign_path, class: 'btn btn-success' %>          
        </div>

        <p>Premium member of musicians can post their songs unlimited. Any tier of members can search by genres and tags, and listen to new music. Also just entering a zip code will show the list of local concerts.</p>
      </div> <!-- .col-xs-12 -->
    </div> <!-- .row -->

    <div class="row">
      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-heading">
            <h4><strong>For Music Lovers</strong></h4>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fa fa-check"></i>
                See musicians & concerts by genres and tags
                <a href="#genres-tags"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check"></i>
                Listen to the songs
                <%= link_to user_profile_path(@john, @john.profiles.first) do %>
                  <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <% end %>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check"></i>
                Like/Unlinke musicians at the left top corner of the <%= link_to "musician's profile", user_profile_path(@john, @john.profiles.first) %>. Same thing for the <%= link_to "concerts", user_concert_path(@john, @john.concerts.first) %> too!
              </li>
              <li class="list-group-item">
                <i class="fa fa-check"></i>
                See Liked musicians
                <%= link_to user_profiles_path(@tester) do %>
                  <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <% end %>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check"></i>
                Save Liked concerts
                <%= link_to user_concerts_path(@tester) do %>
                  <i class="fa fa-external-link-square" aria-hidden="true"></i>
                <% end %>
              </li>
              <li class="list-group-item">
                <i class="fa fa-check"></i>
                Search concerts nearby by entering zipcode or city
                <a href="#search-btn"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <%= link_to "Check out concerts!", concert_list_path, class: "btn btn-block btn-info"  %>
          </div>
        </div> <!-- .panel -->
      </div> <!-- .col-xs-6 -->

      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-heading text-center">
            <h4><strong>Simple Plan</strong></h4>
          </div>
          <div class="panel-body text-center">
            <p class="lead"><strong>$8.99 / month</strong>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item">1 Free Domain</li>
              <li class="list-group-item">5GB Disk Space</li>
              <li class="list-group-item">25GB Bandwidth</li>
              <li class="list-group-item">20 Email Accounts</li>
            </ul>
          </div>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-primary" href="#">BUY NOW!</a>
          </div>
        </div> <!-- .panel -->
      </div> <!-- .col-xs-6 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</section>




