<table class="table table-bordered">
  <tr>
    <th>When</th>
    <th>Title</th>
    <th>Location (City State)</th>
    <th>Bookmarked</th>
  </tr>

  <% concerts.each do |concert| %>
    <tr>
      <td><%= concert.show_date.strftime("%D") %>, <%= concert.show_time.strftime("%l:%M %P") %></td>
      <td><%= link_to concert.title, [concert.user, concert] %></td>
      <td><%= concert.location_name %> <small>(<%= concert.city %> <%= concert.state %></small>)</td>
      <td><i class="fa fa-bookmark" aria-hidden="true"></i> <%= concert.bookmarks.count %></td>
      <% if user_is_authorized?(concert) %>
        <td class="text-left">
          <%= link_to edit_user_concert_path(concert.user, concert), data: {toggle: "tooltip", placement: "top"}, title: "Edit" do %>
            <i class="fa fa-pencil-square-o fa-lg"></i>
          <% end %>
          <%= link_to [concert.user, concert], method: :delete, data: {confirm: 'Are you sure to delete this concert information?', toggle: "tooltip", placement: "top"}, title: "Delete" do %>
            <i class="fa fa-trash-o fa-lg"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
