<script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>" type="text/javascript"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<div class="row">
  <div class="row alert alert-info">
    <div class="col-md-6">
      <h3><%= @concert.show_date %>, <%= @concert.show_time.strftime("%l:%M %P") %></h3>
    </div>
    <div class="col-md-6">
      <h3><%= @concert.title %> <small>by</small> <%= link_to @concert.user.username, [@concert.user, @concert.user.profiles.first] %></h3>
    </div>
  </div>
  <div class="col-md-5">
    <%= render partial: 'tags/list', locals: { tags: @concert.tags } %>
    <h4>
      <%= @concert.location_name %>
      <% if url = @concert.location_url %>
        <small><%= link_to "more", url, target: '_blank' %></small>
      <% end %>
    </h4>
    <ul class="list-style-none">
      <li><%= @concert.address_1 %></li>
      <li><%= @concert.address_2 %></li>
      <li><%= @concert.city %> <%= @concert.state %> <%= @concert.zipcode %></li>
      <li><%= phone_number_format(@concert.phone_number) %></li>
    </ul>
    <hr>
    <p><%= @concert.body %></p>
  </div>
  <div class="col-md-7">
    <div id="map" style="max-width: 700px; height: 400px;"></div>
  </div>
</div>

<div class="row space-top">
  <div class="pull-right">
    <% if current_user && current_user == @concert.user %>
      <%= link_to 'Edit', edit_user_concert_path(@concert.user, @concert), class: 'btn btn-success' %>
      <%= link_to 'Delete', [@concert.user, @concert], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure to delete this concert information?' } %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
