<% @title = "#{current_user.username} | Premium" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1 class="text-center">Premium</h1>
      <p class="pull-right">- Enjoy premium service</p>
      <br>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Why is Premium good?</h3>
          </div>
          <div class="panel-body">
            <ul style="list-style: none; padding-left: 0;">
              <li><span class="glyphicon glyphicon-ok"></span> Upload your favorite songs</li>
              <li><span class="glyphicon glyphicon-ok"></span> Become famous</li>
              <li><span class="glyphicon glyphicon-ok"></span> Introduce more songs</li>
            </ul>
          </div>
        </div>
      </div> <!-- /.col-md-6 -->

      <div class="col-md-6">
        <h3>Upgrade to Premium</h3>
        <p>You can upload your songs from SoundCloud, while standard members have their one latest song uploaded by default.</p>
        <% if current_user.standard? %>
          <%= form_tag charges_path, class: 'pull-right' do %>
            <script class='stripe-button' src='https://checkout.stripe.com/checkout.js'
            data-key="<%= @stripe_btn_data[:key] %>"
            data-amount=<%= @stripe_btn_data[:amount]%>
            data-description="<%= @stripe_btn_data[:description]%>" ></script>
          <% end %>
        <% else %>
          <div class="alert alert-warning" role="alert">
            You are already a <%= current_user.role %> member. You don't need to upgrade.
          </div>
          <%= link_to "Back to main", root_path, class: 'btn btn-primary pull-right' %>
        <% end %>
      </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->
    <br>
    <hr>
    <% if current_user.premium? %>
      <div class="row">
        <h3>Cancelation the premium service</h3>
        <p>If you cancel your premium service, all your uploaded music will be permanently deleted. Please back up first.</p>
        <%= link_to "Cancel Premium", cancel_premium_path, method: :delete, class: 'btn btn-danger pull-right', data: { confirm: "If you cancel your premium service, all your uploaded music will be permanently deleted. Do you still want to proceed?" } %>
      </div> <!-- /.row -->
    <% end %>
  </div> <!-- /.col-md-6 col-md-offset-3 -->
</div> <!-- /.row -->
