<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title : "MusicApp | Local Concerts & New Music" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash">
    <% flash.each do |key, value| %>
      <div class="alert <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value %>
      </div>
    <% end %>
  </div>

  <div id="main" class="container">
    <%= render 'layouts/nav' %>
    <%= yield %>
  </div>

  <footer>
		<div class="text-center">
      <small>Dynamic Music Application &copy; 2016, All Rights Reserved</small>
    </div>
	</footer>
</body>
</html>
