<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="flash">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash.now[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div> <!-- /.flash -->

  <div class="container">
    <nav class="navbar navbar-reverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-div" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "MusicApp", root_path, class: 'navbar-brand' %>
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-collapse-div">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Premium', '#' %></li>
            <li><%= link_to 'List of Songs', songs_list_path %></li>
          </ul> <!-- /.navbar-nav -->

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Saved Music', '#' %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'My Songs', '#' %></li>
                  <% profile = current_user.profiles.first %>
                  <% if profile && profile.id %>
                    <li><%= link_to 'My Musician Profile', edit_user_profile_path(current_user, profile) %></li>
                  <% else %>
                    <li><%= link_to 'New Musician Profile', new_user_profile_path(current_user) %></li>
                  <% end %>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to 'Login Settings', edit_user_registration_path %></li>
                  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li> <!-- /.dropdown -->
            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul> <!-- /.navbar-right -->
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>

    <%= yield %>
  </div> <!-- /.container -->

  <footer>
		<div class="text-center">
      <small>Dynamic Music Application &copy; 2016, All Rights Reserved</small>
    </div>
	</footer>
</body>
</html>
